---
import { socialLinks } from "../data/socialLinks";
---

<div class="flex flex-wrap justify-center gap-2">
  {socialLinks.map((link) => (
    <a
      href={link.url}
      target="_blank"
      rel="noopener noreferrer"
      class={`group relative social-link ${link.class}`}
    >
      <i class={link.icon}></i> {link.name}
      <span class="tooltip">{link.name}</span>
    </a>
  ))}
</div>

